<head>
  <title>Storage24</title>
</head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="{{ plugin_path('Storage24Lite') }}/js/base.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ plugin_path('Storage24Lite') }}/css/basic.css">

<!-- SPINNER START -->
<div id='load' style='display: none;'>
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>

</div>
<!-- SPINNER END -->
<!-- LOGIN FORM START -->
<div id='login' style='display: none;'>
  <div class="login">
    <h3>Login</h3>
    <br />
    <input type="text" placeholder="Benutzername" id="username" class="form-control">
    <input type="password" placeholder="Passwort" id="password" class="form-control">
    <input type="button" class="btn btn-primary" value="Anmelden" id="submit">
    <br />
  </div>
</div>
<!-- LOGIN FORM END -->

<div class="container" style="border: 1px solid #D8D8D8">
  <div class="head">
    <img src="{{ plugin_path('Storage24Lite') }}/css/STORAGE.png" width="200" style="margin-top: 5px;"> </img>
    <p style="text-align: right; display: none;" id="names">Willkommen <span id="realName"></span> (<a id="logout" href="#" onclick="logout();">Abmelden</a>)</p>
    <hr>
  </div>

  <h1 style="padding-top: 20px; padding-bottom: 20px; display: inline-block;" class="menutip" menu="einbuchen" href="?">Einbuchen</h1>&nbsp;
  <h1 style="padding-top: 20px; padding-bottom: 20px; display: inline-block;" class="menutip" menu="umbuchen" href="storagelite/transfer">Umbuchen</h1>
  <!-- Warehouses[0] START -->
  <div class="warehouses">
    {% if warehouses is not null %}
      {% for warehouse in warehouses %}
          <label><input type="checkbox" class="warehousecheckbox" whid="{{ warehouse.id }}" > <span whid="{{ warehouse.id }}" class="whname">{{ warehouse.name }}</span></label>
          &nbsp;
      {% endfor %}
    {% else %}
        <p>Bitte legen Sie ein Lager an</p>
      {% endif %}

  </div>
  <!-- Warehouses[0] END -->
  {% block Body %}

  {% endblock %}
